body{
    background-color: black;
    color: #c8a2c8;
}
h1{
    font-weight: bolder;
    margin-left: 1%;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: #c8a2c4;
}
.container-fluid{
    padding: 5%;
}
h4{
    text-align: center;
}
img{
    justify-content: center;
    align-items: center;
}
h5{
    text-align: end;
}
.original{
    text-decoration: line-through;
}
p{
    text-align: center;
}
@media(max-width:480px){
      h1{
        font-size: 25px;
      }
}